#header{
    height:20vh;
    border-style:solid;
    border-radius:20px;
    background-image: url("../img/grass.jpg");
    width:calc(100vw - 17px);
    position:relative;
}
@media (max-width:992px){
    #header{
        height:20vh;
        border-style:solid;
        border-radius:20px;
        background-image: url("../img/grass.jpg");
        position:relative;
    }
}
@media (max-width:768px){
    #header{
        height:20vh;
        border-style:solid;
        border-radius:20px;
        background-image: url("../img/grass.jpg");
    }
}
@media (max-width:576px){
    #header{
        height:20vh;
        border-style:solid;
        border-radius:20px;
        background-image: url("../img/grass.jpg");
    }
}
html{
    cursor:url(warm3.cur), url(https://www2.cs.ccu.edu.tw/~ssh107u/warm3.cur), auto;
}
#butterfly_a{
    position:absolute; 
    top:calc(10vh - 32px); 
    left:10px;
}
@media (max-width:992px){
    #butterfly_a{
        position:absolute; 
        top:calc(10vh - 6.5vw); 
        left:10px;
    }
}
@media (max-width:768px){
    #butterfly_a{
        position:absolute; 
        top:calc(10vh - 6.5vw); 
        left:10px;
    }
}
@media (max-width:576px){
    #butterfly_a{
        position:absolute; 
        top:calc(10vh - 6.5vw); 
        left:10px;
    }
}
#worm{
    margin:auto; 
    max-width:13vw; 
    max-height:13vw; 
    position:absolute; 
    right:10px; 
    top:calc(10vh - 32px);
}
@media (max-width:992px){
    #worm{
        margin:auto; 
        max-width:13vw; 
        max-height:13vw; 
        position:absolute; 
        right:10px; 
        top:calc(10vh - 6.5vw);
    }
}
@media (max-width:768px){
    #worm{
        margin:auto; 
        max-width:13vw; 
        max-height:13vw; 
        position:absolute; 
        right:10px; 
        top:calc(10vh - 6.5vw);
    }
}
@media (max-width:576px){
    #worm{
        margin:auto; 
        max-width:13vw; 
        max-height:13vw; 
        position:absolute; 
        right:10px; 
        top:calc(10vh - 6.5vw);
    }
}
div>h1{
    text-align: center; 
    line-height: 20vh; 
    color: aliceblue; 
    font-family: 'DFKai-sb',Microsoft JhengHei,sans-serif; 
    font-weight:bold; 
    font-size:2.3rem;
}
@media (max-width:992px){
    div>h1{
        text-align: center; 
        line-height: 20vh; 
        color: aliceblue; 
        font-family: 'DFKai-sb',Microsoft JhengHei,sans-serif; 
        font-weight:bold; 
        font-size:1.9rem;
    }
}
@media (max-width:768px){
    div>h1{
        text-align: center; 
        line-height: 20vh; 
        color: aliceblue; 
        font-family: 'DFKai-sb',Microsoft JhengHei,sans-serif; 
        font-weight:bold; 
        font-size:1.8rem;
    }
}
@media (max-width:576px){
    div>h1{
        text-align: center; 
        line-height: 20vh; 
        color: aliceblue; 
        font-family: 'DFKai-sb',Microsoft JhengHei,sans-serif; 
        font-weight:bold; 
        font-size:1.5rem;
    }
}
#content{
    display:grid;
    grid-template-columns:0.2fr 0.001fr 0.8fr;
    grid-template-areas:
    "d e f"; 
    height:100%;
    margin-left: 3vw;
    margin-right:3vw;
    border-style:dashed;
    border-radius:50px;
    border-color:greenyellow;
    margin-top:3vh;
}
#sub{
    display: grid;
    grid-template-columns:30vw auto;
    grid-template-areas:
    "g h"; 
    margin-left:20vw;
}
#subheader{
    text-align:center; 
    margin-top:2vh; 
    font-weight:bold; 
    color:#009700; 
    font-family:'DFKai-sb',Microsoft JhengHei,sans-serif; 
}
#para{
    margin-left:20vw; 
    font-size:120%; 
    font-family:'DFKai-sb',Helvetica, sans-serif; 
    color:#009700; 
    width:40vw;
}
#vertical{
    grid-area:e; 
    background-color:green;
     margin-top:3vh; 
     margin-bottom:3vh;  
     float:left; 
     border-style:double; 
     border-width:medium; 
     border-color:green;
}
.list{
    font-family:DFKai-sb,Helvetica, sans-serif;  
    list-style:none; 
    font-size:120%; 
    margin-left:20vw; 
    width:40vw; 
    color:#009700; 
}
#figmap{
    font-family:DFKai-sb,Helvetica, sans-serif; 
    color:#765509; 
    font-size:110%; 
    margin-left:20vw;
}
#fig{
    font-family:DFKai-sb,Helvetica, sans-serif; 
    color:#765509; 
    font-size:110%;
}
#horizontal{
    width:90%; 
    height:1vh;
    background-color:#22fe59; 
    border-style:groove; 
    border-radius:10px; 
    margin-left:5vw;
    margin-right:5vw;
}
#map{
    width:100%; 
    height:70vh; 
    margin-top:5vh;
}
@media only screen and (max-width: 600px) {
    iframe{
      width:55%;
      height:33%;
    }
}
#circle{
    width:4vw;height:4vw; 
    position:absolute;
    border-radius:999em;
    background-color:lightgreen;
    display:inline-block;
}
@media (max-width:992px){
    #circle{
        width:6vw;height:6vw; 
        position:absolute;
        border-radius:999em;
        background-color:lightgreen;
        display:inline-block;
    }
}